streamlit>=1.22.0
pandas>=1.5.3
networkx>=3.0
matplotlib>=3.7.1
plotly>=5.14.1
beautifulsoup4>=4.12.2
requests>=2.28.2
playwright>=1.32.1
langdetect>=1.0.9
pycountry>=22.3.5
scipy>=1.10.1
tenacity>=8.2.2
numpy>=1.24.3
python-dateutil>=2.8.2
pytz>=2023.3
graphistry>=0.28.0
streamlit-echarts>=0.4.0
streamlit-apexjs>=0.0.3